/* =========================
   Animation
   ========================= */

$d: 50px;

.a-move, .a-fade {
    @include transition(all, 1.0s, ease-out);
}

.a-move {
    opacity: 0;
    
    .animate &, &.animate {
        -webkit-animation: move 0.6s ease-out forwards;
            -ms-animation: move 0.6s ease-out forwards;
                animation: move 0.6s ease-out forwards;
    }
}

.a-fade {
    opacity: 0;

    .animate &, &.animate {
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform:translateY($d);    
        -webkit-transform:translateY($d);
        -ms-transform:translateY($d);
    }
    to {
        transform:translateY(0px);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        opacity: 1;
    }
}


/* --------------------
    Queue
    ------------------- */  

.animate {

    .a-move[data-q="0.2"], &.a-move[data-q="0.2"] {
        @include a-delay(0.2s);
    }

    .a-move[data-q="0.4"], &.a-move[data-q="0.4"] {
        @include a-delay(0.4s);
    }

    .a-move[data-q="0.6"], &.a-move[data-q="0.6"] {
        @include a-delay(0.6s);
    }

    .a-move[data-q="0.8"], &.a-move[data-q="0.8"] {
        @include a-delay(0.8s);
    }

    .a-move[data-q="1.0"], &.a-move[data-q="1.0"] {
        @include a-delay(1.0s);
    }

    .a-move[data-q="1.2"], &.a-move[data-q="1.2"] {
        @include a-delay(1.2s);
    }

    .a-move[data-q="1.4"], &.a-move[data-q="1.4"] {
        @include a-delay(1.4s);
    }

    .a-move[data-q="1.6"], &.a-move[data-q="1.6"] {
        @include a-delay(1.6s);
    }

    .a-move[data-q="1.8"], &.a-move[data-q="1.8"] {
        @include a-delay(1.8s);
    }

    .a-move[data-q="2.0"], &.a-move[data-q="2.0"] {
        @include a-delay(2.0s);
    }

    .a-fade[data-q="0.2"], &.a-fade[data-q="0.2"] {
        @include delay(0.2s);
    }

    .a-fade[data-q="0.4"], &.a-fade[data-q="0.4"] {
        @include delay(0.4s);
    }

    .a-fade[data-q="0.6"], &.a-fade[data-q="0.6"] {
        @include delay(0.6s);
    }

    .a-fade[data-q="0.8"], &.a-fade[data-q="0.8"] {
        @include delay(0.8s);
    }

    .a-fade[data-q="1.0"], &.a-fade[data-q="1.0"] {
        @include delay(1.0s);
    }

    .a-fade[data-q="1.2"], &.a-fade[data-q="1.2"] {
        @include delay(1.2s);
    }

    .a-fade[data-q="1.4"], &.a-fade[data-q="1.4"] {
        @include delay(1.4s);
    }

    .a-fade[data-q="1.6"], &.a-fade[data-q="1.6"] {
        @include delay(1.6s);
    }

    .a-fade[data-q="1.8"], &.a-fade[data-q="1.8"] {
        @include delay(1.8s);
    }

    .a-fade[data-q="2.0"], &.a-fade[data-q="2.0"] {
        @include delay(2.0s);
    }

    .a-fade[data-q="2.2"], &.a-fade[data-q="2.2"] {
        @include delay(2.2s);
    }

    .a-fade[data-q="2.4"], &.a-fade[data-q="2.4"] {
        @include delay(2.4s);
    }

    .a-fade[data-q="2.6"], &.a-fade[data-q="2.6"] {
        @include delay(2.6s);
    }
}

/* --------------------
    Title
    ------------------- */ 

.title-animate {

    > div {
        overflow: hidden;
    }

    span {
        @include transition(all, 0.8s, ease);
        @include delay(0.5s);
        display: block;
        transform: translateY(35px);
    }

    .animate & {

        span {
            transform: translateY(0px);
        }
    }

    &.title-main {

        > div:nth-child(2) {

            span {
                @include delay(4.0s);
                transition-duration: 1.5s;
            }
        }
    }
}



.animate {

    .header-video:after {
        @include transition(background, 2.0s, linear);
        @include delay(10s);
        background: rgba(0, 0, 0, 0.55);

        @include mobile {
            background: rgba(0, 0, 0, 0.75);
        } 
    }

    .title-main {
        @include transition(opacity, 2.0s, linear);
        @include delay(9s);
        opacity: 0;

        @include mobile {
            opacity: 1;
        }
    }
    
}

.slider-pan-title {

    span i {
        @include transition(all, 0.55s, ease);
        display: inline-block;
        font-style: normal;
        transform: translateY(130px);
    }

    &.title-animate span i {
        transform: translateY(0px);
    }
}

/* --------------------
    Sector Mask
    ------------------- */ 

.section-mask, .portfolio-mask {
    @include transition(all, 0.7s, ease-in);
    position: absolute;
    height: 100%;
    width: 100%;   
    top: 0;
    left: 0;
    z-index: 10;
}

.section-mask {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

    .animate & {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.section-mask.reverse {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

    .animate & {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}

.portfolio-mask {
    position: relative;
}

.portfolio-mask.animate, .section-mask.roll {
    animation: roll 0.5s ease-in forwards;
    -webkit-animation: roll 0.5s ease-in forwards;
    -ms-animation: roll 0.5s ease-in forwards;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.section-mask.roll {
    animation-duration: 1.0s;
}


@keyframes roll {
    0%, 100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}



/* --------------------
    Fly
    ------------------- */  

.smoke-fly {
    animation: smoke-fly 13s linear infinite;
}

@keyframes smoke-fly {

    0%, 100% {
        transform: translate(0,0);    
    }

    20% {
        transform: translate(35px,-23px);    
    }

    40% {
        transform: translate(0px,-18px);    
    }

    60% {
        transform: translate(-27px,24px);    
    }

    80% {
        transform: translate(-17px,15px);    
    }
}


/* --------------------
    About
    ------------------- */ 

.about-main {
    @include transition(max-height, 1.5s, cubic-bezier(0.01, 0.27, 0.26, 1.08) );
    max-height: 1px;
    overflow: hidden;
    
    .image-circ {
        @include transition(transform, 0.8s, ease-in);
        @include transform(scale(0));
    }

    &.animate {
        @include delay(1.2s);
        transform: matrix(1, 0, 0, 1, 0, 0);
        max-height: 550px;

        .about-main--desc {
            @include delay(1.8s);
        }

        .about-main--image {
            @include delay(2.0s);
        }

        .image-circ {
            @include delay(2.1s);
            @include transform(scale(1));
        }

        .about-w {
            @include delay(2.3s);
        }

        @include tablet {
            max-height: 700px;
        }

        @include mobile {
            max-height: 1000px;
        }
    }
}

.desc-main {

    .desc-main--left .slash {
        @include transition(all, 1.3s, linear);
        @include rot(0deg);
        opacity: 0;
    }
}

.animate.desc-main .desc-main--left .slash {
    @include rot(32deg);
    opacity: 1;
}

.process {

    .cols:before {
        @include transition(width, 1.8s, linear);
        width: 0;

        @include mobile {
            // @include transition(height, 1.8s, linear);
        }
    }
    
    &.animate .cols:after {
        width: 100%;
    }

    &.animate .cols:before {
        width: 796px;

        @media (max-width: 1250px){
            width: 682px;
        }

        @include mobile {
            width: 1px;
            //height: 490px;
        }
    }
}


.service-text {

    &:after {
        @include transition(height, 0.3s, linear);
        background: #1c1c1c;    
    }

    p {
        @include delay(0.2s);
    }

    &:hover {
        bottom: auto;
        left: -2px;
        right: -2px;

        &:after {
            height: 100%;   
        }

        .points {
            opacity: 0;
        }
        
        p {
            opacity: 1;
        }
    }
}

/* --------------------
    Contacts
    ------------------- */ 

.title-line {
    
    &:before {
        @include transition(width, 0.5s, linear);
        width: 0;
    }

    .animate & {

        &:before {
            @include delay(0.2s);
            width: 55px;
        }
    }
}


/* --------------------
    Preloader
    ------------------- */ 


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;
    background-color: #000;
    z-index: 999999;

    .no-js & {
        display: none !important;
    }

    svg {
        width: 120px;
    }
}

.preloader-logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: #1e1e1e;

    .preloader-logo {
        position: absolute;
        width: 300px;
        top: 50%;
        left: 50%;
        margin: -60px 0 0 -150px;
        z-index: 1;
        overflow: hidden;
        padding-bottom: 22px;
    }

    .preloader-logo-b {
        animation: fadeIn 0.3s linear 0s forwards;
        -webkit-animation: fadeIn 0.3s linear 0s forwards;
    }

    .preloader-logo-w svg {
        animation: logoDown 0.5s ease-in-out 2.5s forwards;
         -webkit-animation: logoDown 0.5s ease-in-out 2.5s forwards;
    }
}

.preloader-gates-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 1;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: gatesAnimateToBottom 0.5s ease-out 0.3s forwards;
    -webkit-animation: gatesAnimateToBottom 0.5s ease-out 0.3s forwards;
}

.preloader-gates {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;

    clip-path: polygon(50.5% 0, 50.2% 0, 50.2% 100%, 50.5% 100%);
    -webkit-clip-path: polygon(50.5% 0, 50.2% 0, 50.2% 100%, 50.5% 100%);

    animation: gatesAnimate 0.9s ease-out 0.9s forwards;
    -webkit-animation: gatesAnimate 0.9s ease-out 0.9s forwards;

    will-change: clip-path, -webkit-clip-path;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $col-bor-2;

    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);

    animation: gatesAnimate 0.9s ease-out 0.9s forwards;
    -webkit-animation: gatesAnimate 0.9s ease-out 0.9s forwards;

    &:after {
        @extend .ps;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;

        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);

        animation: gatesAnimate 0.9s ease-out 1.9s forwards;
        -webkit-animation: gatesAnimate 0.9s ease-out 1.9s forwards;
    }
}

.progress-wrap {
    width: 300px;
    position: relative;
    left: 50%;
    top: 20px;
    margin-left: -150px;
    height: 2px;

    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);

    animation: collapseAnim 0.9s ease-out 2.4s forwards;
    -webkit-animation: collapseAnim 0.9s ease-out 2.4s forwards;
}

@keyframes gatesAnimate {
    0% {
        clip-path: polygon(51% 0, 49% 0, 49% 100%, 51% 100%);
        -webkit-clip-path: polygon(51% 0, 49% 0, 49% 100%, 51% 100%);
    }
 
    100% {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}


@keyframes collapseAnim {
    100% {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
}

@keyframes gatesAnimateToBottom {
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes logoDown {
    100% {
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}




@-webkit-keyframes gatesAnimate {
    0% {
        clip-path: polygon(51% 0, 49% 0, 49% 100%, 51% 100%);
        -webkit-clip-path: polygon(51% 0, 49% 0, 49% 100%, 51% 100%);
    }
 
    100% {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}


@-webkit-keyframes collapseAnim {
    100% {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
}

@-webkit-keyframes gatesAnimateToBottom {
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@-webkit-keyframes logoDown {
    100% {
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



// @keyframes draw-lines {
//     to {
//         stroke-dashoffset: 0;
//     }
// }


// .preloader svg .draw-item * {
//      fill-opacity: 0;
//      stroke: #fff;
//      stroke-width: 0.22;
//      // stroke-dashoffset: 600;
//      // stroke-dasharray: 600;
// }

// .preloader svg .draw-item * {
//      animation-name: drawLogo;
//      animation-duration: 3s;
//      animation-delay: 0.1s;
//      animation-fill-mode: forwards;
//      animation-iteration-count: 1;
//      animation-timing-function: ease;
// }


// .preloader .opacity-item {
//     animation: opacity 0.8s linear forwards 2.2s;
//     opacity: 0;
// }

// @keyframes opacity {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes drawLogo {
//     0% {
//         opacity: 0;
//     }
//     10% {
//         opacity: 1;
//     }
//      75% {
//          stroke-dashoffset: 0;
//      }
//      50% {
//          fill-opacity: 0;
//      }
//      100% {
//          fill-opacity: 1;
//      }
// }

.tabs {

    li > a span {
        padding: 0 3px;
        overflow: hidden;
    }

    li > a span:before {
      @include transition(left, 1.0s, ease);
      width: 135px;  
      left: -135px;
    }

    li.is-active > a span:before {
        left: 0;
    }
}