/* =========================
   Fonts
   =========================*/

body { font:normal 14px $reg, Helvetica; color:#fff; background:#fff; line-height: 1; -ms-overflow-style: scrollbar; }
body * { -webkit-font-smoothing: antialiased; text-shadow: 0 1px 0 rgba(0,0,0,0.01); }

h1, h2, h3, h4, h5 { color: #000; padding-bottom: 10px; text-transform: uppercase; }
h1 { font-size: 55px; line-height: 45px; }
h2 { font-size: 25px; line-height: 25px; }
h3 { font-size: 20px; line-height: 21px; }
h4 { font-size: 17px; line-height: 17px; }
h5 { font-size: 13px; line-height: 16px; }

a {
    color: #000;
    
    &:hover {
        text-decoration: none;
    }
}

p {
    
}

.title {
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $med;
    color: #fff;
}

.title-sub {
    @include color-w(0.7);
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-family: $ita;

    @include tablet {
        font-size: 12px;
    }

    @include mobile {
        font-size: 11px;
        line-height: 20px;
    }
}

.title-line {
    position: relative;
    padding-left: 98px;
    font-size: 24px;
    font-family: $ita;

    &:before {
        @extend .ps;   
        height: 1px;
        //width: 55px;
        left: 0;
        top: 12px;
        background-color: #fff; 
    }

    @media (max-width: 1250px){
        font-size: 20px;
        padding-left: 80px;

        &:before {
            top: 10px;
        }
    }
}

.text-it {
    font-family: $ita;
    letter-spacing: 0.7px;
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('fonts/BrandonGrotesque-Regular.eot');
    src: url('fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/BrandonGrotesque-Regular.woff') format('woff'),
         url('fonts/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Medium';
    src: url('fonts/BrandonGrotesque-Medium.eot');
    src: url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/BrandonGrotesque-Medium.woff') format('woff'),
         url('fonts/BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Light';
    src: url('fonts/BrandonGrotesque-Light.eot');
    src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/BrandonGrotesque-Light.woff') format('woff'),
         url('fonts/BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
         url('fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


